*, *::before, *::after {
    box-sizing: border-box;
    user-select: none;
}

body {
    background-color: green;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#game-wrapper {
    position: relative;
    overflow: hidden;
    background-color: #404040;
    width: 100vw;
    height: 35vw;
}

#score {
    position: absolute;
    right: 1vw;
    top: 1vw;
    font-size: 2.5vw;
    z-index: 2;
    color: white;
}

#start-game {
    position: absolute;
    top: 38%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    font-size: 4vw;
    z-index: 5;
    color: black;
}

#lives {
    position: absolute;
    top: 0.8vw;
    left: 0.5vw;
    z-index: 2;
}

.life {
    width: 3vw;
    height: 3vw;
    margin-left: 0.1vw;
}

.hidden {
    display: none;
}

.flipped {
    transform: scaleX(-1);
}

.road {
    --left: 0;
    position: absolute;
    height: 100%;
    left: calc(var(--left) * 1vw);
    top: 0;
}

.game-object {
    --x: 100;
    --y: 0;
    position: absolute;
    left: calc(var(--x) * 1vw);
    top: calc(var(--y) * 1vw);
    height: 15%;
}

#car-player {
    --x: 0;
    --y: 0;
    z-index: 1;
}

.blink {
    animation: blink 0.3s linear 0s infinite alternate;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}
